@charset "UTF-8"

;* {
margin: 0px;
padding: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --cor1: #222347;
    --cor2: #0B0D80;
    --cor3: #1215CC;
    --cor4: #6366FF;
    --cor5: #1619FF;

}

header {
    background-image: linear-gradient(to bottom right, #6366FF, white );
    border: 0.5px solid rgba(255, 255, 255, 0.801);
}

header > p, h1 {
    text-align: center;
}

header > h1 {
    font-size: bolder;
    text-shadow: 1px 1px white;
}

a {
    text-decoration: none;
    color: white;
}

div.cnav {
    background-color: var(--cor1);
    text-align: center;
}

nav > a {
    padding: 10px;

}

a:hover {
    text-decoration: underline;
    font-size: large;
    padding: 15px;
}


body {
    background-color: var(--cor4);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding-top: 10px;
}

article {
    margin: 0% 5% 0% 5%;
}

section#tradicional {
    background-color: var(--cor1);
}

ul#le {
    list-style-position: inside;
    list-style: none;
    columns: 2;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

td:hover {
    border: 1px solid var(--cor5);

}

h2 {
    text-align: center;
    margin: 5px;
}

p {
    text-indent: 10px;
    color: var(--cor1);
}

p.escondido {
    display: none;
}